<!DOCTYPE HTML>

<HTML xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<HEAD>
	<meta charset="utf-8">
	<!--  Material Design for bootstrap CSS -->
	<link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
	<!--  my css -->
	<link rel="stylesheet" href="/css/style.css" />

	<title>HaagaTalk! ADMIN PAGE</title>
</HEAD>

<BODY>
	<div th:replace="navbar :: NAV_MENU"></div>

	<div class="container">
		<h2>ADMIN PAGE</h2>
		
		<h4>Current courses</h4>
		<ul>
			<li th:each="course: ${COURSES}">
				<span th:text="|${course.courseName} [${course.courseCode}]|"></span> <a href="#">edit</a><a href="#">delete</a>
			</li>
		</ul>
		<button>Add course</button>
		
		<h4>Current teachers</h4>
		<ul>
			<li th:each="teacher: ${TEACHERS}">
				<span th:text="|${teacher.firstName}, ${teacher.lastName}|"></span> <a href="#">edit</a><a href="">delete</a>
			</li>
		</ul>
		<button>Add teacher</button>
		
		<h4>Current Users</h4>
		<ul>
			<li th:each="user: ${USERS}">
				<span th:text="|${user.username} [${user.role}]|"></span>
				<a href="#">edit</a><a href="">delete</a>
			</li>
		</ul>
		<button>Add user</button>
		
	</div>
	
	<div th:replace="footer :: JS_SRC"></div>
</BODY>

</HTML>