<!DOCTYPE HTML>

<HTML xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<HEAD>
	<meta charset="utf-8">
	<!--  Material Design for bootstrap CSS -->
	<link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
	<!--  my css -->
	<link rel="stylesheet" href="/css/style.css" />

	<title>HaagaTalk! ADMIN DASHBOARD</title>
</HEAD>

<BODY>
	<div th:replace="navbar :: NAV_MENU"></div>

	<div class="container">
		<h2>ADMIN DASHBOARD</h2>
		
		<h4>Current courses</h4>
		<ul>
			<li class="row">
				<div class="col"><h4>course code</h4></div>
				<div class="col"><h4>course name</h4></div>
				<div class="col"><h4>teacher</h4></div>
				<div class="col">buttons</div>
			</li>
			<li th:each="course : ${COURSES}">
				<form class="form-row" th:object="${course}" th:action="@{/admin/add(collection = 'course')}" action="#" method="POST">
					<input type="hidden" name="id" th:value="*{id}" />
					<div class="col">
						<input type="text" class="form-control" name="courseCode" th:value="*{courseCode}" />
					</div>
					<div class="col">
						<input type="text" class="form-control" name="courseName" th:value="*{courseName}" />
					</div>
					<div class="col">
						<select class="custom-select" name="teacherId" th:value="*{teacherId}">
							<option th:each="teacher : ${TEACHERS}" th:value="${teacher.id}" th:text="${teacher.toString()}" th:selected="${course.teacherId.equals(teacher.id)}">teacher</option>
							<option value="-" th:selected="${course.teacherId.equals('-')}">N/A</option>
						</select>
					</div>
					<div class="col">
						<input type="submit" class="btn btn-raised btn-success" value="save" />
						<a class="btn btn-raised btn-danger" th:href="@{/admin/delete/{id}(id = ${course.id}, collection = 'course')}">delete</a>
					</div>
				</form>
			</li>
		</ul>
<!--/* old list without edit feature		
		<ul>
			<li th:each="course: ${COURSES}">
				<span th:text="|${course.courseName} [${course.courseCode}] |"></span>
				<a href="#">edit</a>
				<a th:href="@{/admin/delete/{id}(id = ${course.id}, collection = 'course')}">delete</a>
			</li>
		</ul>
		<button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#courseModal">add course</button>
*/-->

<!--/*  old link
		<a th:href="@{/admin/add(collection = 'course')">Add course</a>
*/-->
		
		<h4>Current teachers</h4>
<!--/* list without edit function
		<ul>
			<li th:each="teacher: ${TEACHERS}">
				<span th:text="|${teacher.firstName}, ${teacher.lastName}|"></span>
				<a href="#">edit</a>
				<a th:href="@{/admin/delete/{id}(id = ${teacher.id}, collection = 'teacher')}">delete</a>
			</li>
		</ul>
*/-->
		<ul>
			<li class="row">
				<div class="col"><h4>first name</h4></div>
				<div class="col"><h4>last name</h4>	</div>
				<div class="col"><span>buttons</span></div>
			</li>
			<li th:each="teacher: ${TEACHERS}">
				<form class="form-row" th:object="${teacher}" th:action="@{/admin/add(collection = 'teacher')}" action="#" method="POST">
					<input type="hidden" name="id" th:value="*{id}" />
					<div class="col">
						<input type="text" class="form-control" name="firstName" th:value="*{firstName}" />
					</div>
					<div class="col">
						<input type="text" class="form-control" name="lastName" th:value="*{lastName}" />
					</div>
					<div class="col">
						<input class="btn btn-raised btn-success" type="submit" value="save" />
						<a class="btn btn-raised btn-danger" th:href="@{/admin/delete/{id}(id = ${teacher.id}, collection = 'teacher')}">delete</a>
					</div>
				</form>
			</li>
		</ul>
		
		<button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#teacherModal">add teacher</button>
		
		<h4>Current Users</h4>
		<ul>
			<li class="row">
				<div class="col"><h4>username</h4></div>
				<div class="col"><h4>password</h4></div>
				<div class="col"><h4>role</h4></div>
				<div class="col"><span>buttons</span></div>
			</li>
			<li th:each="user: ${USERS}">
				<form class="form-row" th:object="${user}" th:action="@{/admin/add(collection = 'user')}" action="#" method="POST">
					<input type="hidden" name="id" th:value="*{id}" />
					<div class="col">
						<input type="text" class="form-control" name="username" th:value="*{username}" />
					</div>
					<div class="col">
						<input type="text" class="form-control" name="password" th:value="*{PWDecoded}" />
					</div>
					<div class="col">
						<select class="custom-select" name="role" th:value="*{role}">
							<option th:value="USER">user</option>
							<option th:value="ADMIN" th:selected="${user.role.equals('ADMIN')}">admin</option>
						</select>
					</div>
					<div class="col">
						<input class="btn btn-raised btn-success" type="submit" value="save" />
						<a class="btn btn-raised btn-danger" th:href="@{/admin/delete/{id}(id = *{id}, collection = 'user')}">delete</a>
					</div>
				</form>
<!--/* old li attribute
				<span th:text="|${user.username} [${user.role}]|"></span>
				<a href="#">edit</a>
				<a th:href="@{/admin/delete/{id}(id = ${user.id}, collection = 'user')}">delete</a>
*/-->
			</li>
		</ul>
		<button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#userModal">add user</button>
	</div>
	
	
	<!-- Modals for adding  -->
	<div class="modal fade" id="courseModal" tabindex="-1" role="dialog" aria-labelledby="courseModal" aria-hidden="true">
		<div class="modal-dialog p-5" role="document">
			<div class="modal-content">
				<div class="modal-header text-center">
					<h4 class="modal title w-100 font-weight-bold" id="courseModalTitle">course modal title</h4>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body mx-3">
					<form id="courseModalForm" th:object="${COURSE}" th:action="@{/admin/add(collection = 'course')}" action="#" method="POST">
						<div class="form-group">
							<label for="courseCode" class="bmd-label-static">course code</label>
							<input type="text" class="form-control" id="courseCode" th:field="*{courseCode}" />
						</div>
						<div class="form-group">
							<label for="courseName" class="bmd-label-static">course name</label>
							<input type="text" class="form-control" id="courseName" th:field="*{courseName}" />
						</div>
						<div class="form-group">
							<label for="courseTeacher" class="bmd-label-static">teacher</label>
							<select class="form-control" id="courseTeacher" th:field="*{teacherId}">
								<option th:each="teacher : ${TEACHERS}" th:value="${teacher.id}" th:text="|${teacher.firstName} ${teacher.lastName}|"></option>
							</select>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-raised btn-success btn-block" form="courseModalForm">Submit</button>
				</div>
			</div>
		</div>
	</div>
	
	<div class="modal fade" id="teacherModal" tabindex="-1" role="dialog" aria-labelledby="teacherModal" aria-hidden="true">
		<div class="modal-dialog p-5" role="document">
			<div class="modal-content">
				<div class="modal-header text-center">
					<h4 class="modal title w-100 font-weight-bold" id="courseModalTitle">teacher modal title</h4>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body mx-3">
					<form id="teacherModalForm" th:object="${TEACHER}" th:action="@{/admin/add(collection = 'teacher')}" action="#" method="POST">
						<div class="form-group">
							<label for="firstName" class="bmd-label-static">first name</label>
							<input type="text" class="form-control" id="firstName" th:field="*{firstName}" />
						</div>
						<div class="form-group">
							<label for="lastName" class="bmd-label-static">last name</label>
							<input type="text" class="form-control" id="lastName" th:field="*{lastName}" />
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-raised btn-success btn-block" form="teacherModalForm">Submit</button>
				</div>
			</div>
		</div>
	</div>
	
	<div class="modal fade" id="userModal" tabindex="-1" role="dialog" aria-labelledby="userModal" aria-hidden="true">
		<div class="modal-dialog p-5" role="document">
			<div class="modal-content">
				<div class="modal-header text-center">
					<h4 class="modal title w-100 font-weight-bold" id="courseModalTitle">user modal title</h4>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body mx-3">
					<form id="userModalForm" th:object="${USER}" th:action="@{/admin/add(collection = 'user')}" action="#" method="POST">
						<div class="form-group">
							<label for="username" class="bmd-label-static">username</label>
							<input type="text" class="form-control" id="username" th:field="*{username}" />
						</div>
						<div class="form-group">
							<label for="password" class="bmd-label-static">password</label>
							<input type="text" class="form-control" id="password" th:field="*{password}" />
						</div>
						<div class="form-group">
							<label for="role" class="bmd-label-static">role</label>
							<select class="form-control" id="role" th:field="*{role}">
								<option value="USER">user</option>
								<option value="ADMIN">admin</option>
							</select>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-raised btn-success btn-block" form="userModalForm">Submit</button>
				</div>
			</div>
		</div>
	</div>
	
	<div th:replace="footer :: JS_SRC"></div>
</BODY>

</HTML>