<!DOCTYPE HTML>

<HTML xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<HEAD>
	<meta charset="utf-8">
	<!--  Material Design for bootstrap CSS -->
	<link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
	<!--  my css -->
	<link rel="stylesheet" href="/css/style.css" />

	<title>HaagaTalk! ADMIN DASHBOARD</title>
</HEAD>

<BODY>
	<div th:replace="navbar :: NAV_MENU"></div>

	<div class="container">
		<h2>ADMIN DASHBOARD</h2>
		
		<h4>Current courses</h4>
		<ul>
			<li th:each="course: ${COURSES}">
				<span th:text="|${course.courseName} [${course.courseCode}]|"></span>
				<a href="#">edit</a>
				<a th:href="@{/admin/delete/{id}(id = ${course.id}, collection = 'course')}">delete</a>
			</li>
		</ul>
		<button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#courseModal">add course</button>
<!--/*  old link
		<a th:href="@{/admin/add(collection = 'course')">Add course</a>
*/-->
		
		<h4>Current teachers</h4>
		<ul>
			<li th:each="teacher: ${TEACHERS}">
				<span th:text="|${teacher.firstName}, ${teacher.lastName}|"></span>
				<a href="#">edit</a>
				<a th:href="@{/admin/delete/{id}(id = ${teacher.id}, collection = 'teacher')}">delete</a>
			</li>
		</ul>
		<button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#teacherModal">add teacher</button>
		
		<h4>Current Users</h4>
		<ul>
			<li th:each="user: ${USERS}">
				<span th:text="|${user.username} [${user.role}]|"></span>
				<a href="#">edit</a>
				<a th:href="@{/admin/delete/{id}(id = ${user.id}, collection = 'user')}">delete</a>
			</li>
		</ul>
		<button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#userModal">add user</button>
	</div>
	
	
	<!-- Modals for adding / editing -->
	<div class="modal fade" id="courseModal" tabindex="-1" role="dialog" aria-labelledby="courseModal" aria-hidden="true">
		<div class="modal-dialog p-5" role="document">
			<div class="modal-content">
				<div class="modal-header text-center">
					<h4 class="modal title w-100 font-weight-bold" id="courseModalTitle">course modal title</h4>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body mx-3">
					Modal course body
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-raised btn-success btn-block" form="#">Submit</button>
				</div>
			</div>
		</div>
	</div>
	
	<div class="modal fade" id="teacherModal" tabindex="-1" role="dialog" aria-labelledby="teacherModal" aria-hidden="true">
		<div class="modal-dialog p-5" role="document">
			<div class="modal-content">
				<div class="modal-header text-center">
					<h4 class="modal title w-100 font-weight-bold" id="courseModalTitle">course modal title</h4>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body mx-3">
					<form id="teacherModalForm" th:object="${TEACHER}" th:action="@{/admin/add(collection = 'teacher')}" action="#" method="POST">
						<div class="form-group">
							<input type="text" id="firstName" th:field="*{firstName}" placeholder="first name"/>
						</div>
						<div class="form-group">
							<input type="text" id="lastName" th:field="*{lastName}" placeholder="last name"/>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-raised btn-success btn-block" form="teacherModalForm">Submit</button>
				</div>
			</div>
		</div>
	</div>
	
	<div class="modal fade" id="userModal" tabindex="-1" role="dialog" aria-labelledby="userModal" aria-hidden="true">
		<div class="modal-dialog p-5" role="document">
			<div class="modal-content">
				<div class="modal-header text-center">
					<h4 class="modal title w-100 font-weight-bold" id="courseModalTitle">course modal title</h4>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body mx-3">
					Modal user body
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-raised btn-success btn-block" form="#">Submit</button>
				</div>
			</div>
		</div>
	</div>
	
	<div th:replace="footer :: JS_SRC"></div>
</BODY>

</HTML>