<!DOCTYPE HTML>

<HTML xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<HEAD>
	<meta charset="utf-8">
	<!--  Material Design for bootstrap CSS -->
	<link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
	<!--  my css -->
	<link rel="stylesheet" href="/css/style.css" />

	<title>HaagaTalk!</title>
</HEAD>

<BODY>

	<div th:replace="navbar :: NAV_MENU"></div>
	
	<div class="container mt-2">
		<h1 th:text="${Course.courseName}">Course name</h1>

		<table class="table table-sm">
			<thead class="thead-dark">
				<tr>
					<th scope="col">username</th>
					<th scope="col">comment</th>
					<th scope="col" sec:authorize="isAuthenticated()">Authenticated</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="comment : ${Comments}">
					<td th:text="${comment.username}">username</td>
					<td th:text="${comment.comment}">comment</td>
					<td sec:authorize="isAuthenticated()">
						<a th:href="@{/{courseId}/edit/{id}(courseId=${Course.id}, id=${comment.id})}">edit</a>
						<a sec:authorize="hasAuthority('ADMIN')" th:href="@{/{courseId}/delete/{id}(courseId=${Course.id}, id=${comment.id})}">delete</a>
					</td>
				</tr>
			</tbody>
		</table>
		
		<hr>
<!--/* old comment	
<span th:text="|${comment.username}: ${comment.comment}|">username:comment</span>
<a>[ edit / delete / like ]</a>
*/-->
	<form name="commentForm" th:object="${COMMENT}" th:action="@{addComment}" action="#"
		method="POST">
		<input type="hidden" th:value="${Course.id}" name="courseId" />
		<input sec:authorize="isAuthenticated()" type="hidden" th:value="${#httpServletRequest.remoteUser}" name="username" />
		<input sec:authorize="!isAuthenticated()" type="hidden" th:value="anonymous" name="username" />
		<div class="form-row align-items-end">
			<div class="col">
				<label for="comment">Comment</label>
				<input class="form-control" type="text" id="comment" th:field="*{comment}" />
			</div>
			<div class="col-1">
				<button type="submit" class="btn btn-primary">ENTER</button>
			</div>
		</div>
	</form>

	</div>
</BODY>

</HTML>