<!DOCTYPE HTML>

<HTML xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

	<HEAD>
		<meta charset="utf-8">
		<!--  Material Design for bootstrap CSS -->
		<link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
		<!--  my css -->
		<link rel="stylesheet" href="/css/style.css" />
	
		<title>HaagaTalk! ADMIN PAGE</title>
	</HEAD>
	
	<BODY>
		<div style="text-align:center">
			<h2 class="errorMSG">ERROR PAGE</h2>
			
			<span class="errorMSG">you're not the author of the comment</span>
		</div>
	</BODY>
	
</HTML>