<!DOCTYPE HTML>

<HTML xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<HEAD>
	<title>HaagaTalk!</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="/css/style.css" />
</HEAD>

<BODY>
	<!--/* MOVED TO th:fragment 
	<nav>
		<div sec:authorize="isAuthenticated()">
			<form th:action="@{/logout}" method="POST">
				<span th:inline="text">Hi
					[[${#httpServletRequest.remoteUser}]]!</span> <input type="submit"
					value="log out" />
			</form>
	
			<a href="/admin">to ADMIN page</a>
		</div>
	
		<div sec:authorize="isAnonymous()">
			<a href="/login">to login page</a>
		</div>
	</nav */-->

	<div th:replace="navbar :: NAV_MENU"></div>

	<div class="container list-group">
		<a href="#" class="list-group-item list-group-item-action list-group-item-dark">Courses</a>
		<div th:each="course : ${Courses}">
			<a class="list-group-item list-group-item-action" th:text="${course.courseName}" th:href="@{/{courseId}(courseId=${course.id})}">course</a>
		</div>
		<!--
		<ul th:each="course : ${Courses}">
			<li><a th:text="${course.courseName}"
				th:href="@{/{courseId}(courseId=${course.id})}">course</a></li>
		</ul>
		 -->
	</div>
	
	<div class="container">
		<a href="/admin/rest/users">User REST</a>
		<br />
		<a href="/admin">ADMIN page</a>
	</div>
</BODY>

</HTML>