<!DOCTYPE HTML>

<HTML xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<HEAD>
<title>HaagaTalk!</title>
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css"
	th:href="@{css/bootstrap.min.css}" />
</HEAD>

<BODY>
	<div sec:authorize="isAuthenticated()">
		<form th:action="@{/logout}" method="POST">
			<span th:inline="text">Hi
				[[${#httpServletRequest.remoteUser}]]!</span> <input type="submit"
				value="log out" />
		</form>

		<a href="/admin">to ADMIN page</a>
	</div>

	<div sec:authorize="isAnonymous()">
		<a href="/login">to login page</a>
	</div>

	<div>
		<h1>Course</h1>
		<ul th:each="course : ${Courses}">
			<li th:text="${course.courseName}">course</li>
		</ul>
	</div>
</BODY>

</HTML>