<!DOCTYPE HTML>

<HTML xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<HEAD>
	<meta charset="utf-8">
	<!--  Material Design for bootstrap CSS -->
	<link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
	<!--  my css -->
	<link rel="stylesheet" href="/css/style.css" />
	
	<title>HaagaTalk!</title>
</HEAD>

<BODY>
	<!--/* MOVED TO th:fragment 
	<nav>
		<div sec:authorize="isAuthenticated()">
			<form th:action="@{/logout}" method="POST">
				<span th:inline="text">Hi
					[[${#httpServletRequest.remoteUser}]]!</span> <input type="submit"
					value="log out" />
			</form>
	
			<a href="/admin">to ADMIN page</a>
		</div>
	
		<div sec:authorize="isAnonymous()">
			<a href="/login">to login page</a>
		</div>
	</nav */-->

	<div th:replace="navbar :: NAV_MENU"></div>

	<div class="container list-group">
		<a href="#" class="list-group-item list-group-item-action list-group-item-dark">Courses</a>
		<div th:each="course : ${Courses}">
			<a class="list-group-item list-group-item-action" th:text="${course.courseName}" th:href="@{/{courseId}(courseId=${course.id})}">course</a>
		</div>
		<!--
		<ul th:each="course : ${Courses}">
			<li><a th:text="${course.courseName}"
				th:href="@{/{courseId}(courseId=${course.id})}">course</a></li>
		</ul>
		 -->
	</div>
	
	<div class="container">
		<a href="/admin/rest/users">User REST</a>
		<br />
		<a href="/admin">ADMIN page</a>
	</div>
	
	<!-- js for Modal feature -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>
	<script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>
	<script>$(document).ready(function() { $('body').bootstrapMaterialDesign(); });</script>
</BODY>

</HTML>