<!DOCTYPE HTML>

<HTML xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<HEAD>
	<title>FRAG:NAVBAR</title>
</HEAD>

<BODY>
	<nav th:fragment="NAV_MENU" class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top justify-content-around">
		<a th:href="@{/}" class="navbar-brand">HaagaTalk!</a>
	
		<!-- display user info and greet when user is signed in -->
		<div sec:authorize="isAuthenticated()">
			<form th:action="@{/logout}" method="POST">
				<span th:inline="text" style="color:white">Hi [[${#httpServletRequest.remoteUser}]]!</span>
				<input type="submit" class="btn btn-sm btn-outline-secondary" value="log out" />
			</form>
		</div>
	
		<!-- display login link -->
		<div sec:authorize="isAnonymous()">
			<a href="/login" class="btn btn-outline-success">to login page</a>
		</div>		
	</nav>
</BODY>

</HTML>